@model IEnumerable<EnrollmentViewModel>

@{
    ViewData["Title"] = "Enrollments";
    Layout = "_DashLayout";
}

<!-- Table Start -->
<div class="container-fluid px-4">
    <a asp-controller="Enrollment" asp-action="Create" class="btn btn-primary mb-3">Add New Enrollment</a>

    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Enrollments</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">User ID</th>
                        <th scope="col">Course ID</th>
                        <th scope="col">Progress State</th>
                        <th scope="col">Progress Percentage</th>
                        <th scope="col" class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var enroll in Model)
                    {

                        <tr>
                            <td>@enroll.ApplicationUserId</td>
                            <td>@enroll.CourseId</td>
                            <td>@enroll.ProgressState</td>
                            <td>@enroll.ProgressPercentage %</td>
                            <td class="col-2  "style="display:flex;justify-content:space-between;">
                                
                                <form asp-controller="Enrollment" asp-action="Edit" method="get" >
                                    <input type="hidden" name="ApplicationUserId" value="@enroll.ApplicationUserId" />
                                    <input type="hidden" name="CourseId" value="@enroll.CourseId"/>
                                    <button type="submit" class="btn btn-sm btn-success">Edit</button>
                                </form>


                                <form asp-controller="Enrollment" asp-action="Delete" method="get">
                                    <input type="hidden" name="ApplicationUserId" value="@enroll.ApplicationUserId" />
                                    <input type="hidden" name="CourseId" value="@enroll.CourseId" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                
                            </td>
                        </tr>
                    }
                    

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Table End -->
