@model IEnumerable<EnrollmentViewModel>

@{
    ViewData["Title"] = "Enrollments";
    Layout = "_DashLayout";
    var Enrollments = (List<Enrollment>)ViewBag.Enrollments;

}

<!-- Table Start -->
<div class="container-fluid px-4">
    <a asp-controller="Enrollment" asp-action="Create" class="btn btn-primary mb-3">Add New Enrollment</a>

    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Enrollments</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">User Name</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Progress State</th>
                        <th scope="col">Progress Percentage</th>
                        <th scope="col">Enrollment Date</th>
                        <th scope="col" class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var enroll in Enrollments)
                    {

                        <tr>
                            <td>@enroll.ApplicationUser.UserName</td>
                            <td>@enroll.Course.Title</td>
                            <td>@enroll.ProgressState</td>
                            <td>@enroll.ProgressPercentage %</td>
                            <td>@enroll.EnrollmentDate</td>
                            <td class="col-2">
                                <div class="d-flex justify-content-between w-100">
                                    <form class="col-5" asp-controller="Enrollment" asp-action="Edit" method="get">
                                        <input type="hidden" name="ApplicationUserId" value="@enroll.ApplicationUserId" />
                                        <input type="hidden" name="CourseId" value="@enroll.CourseId" />
                                        <button type="submit" class="btn btn-sm btn-success w-100">Edit</button>
                                    </form>

                                    <form class="col-6" asp-controller="Enrollment" asp-action="Delete" method="get">
                                        <input type="hidden" name="ApplicationUserId" value="@enroll.ApplicationUserId" />
                                        <input type="hidden" name="CourseId" value="@enroll.CourseId" />
                                        <button type="submit" class="btn btn-sm btn-danger w-100">Delete</button>
                                    </form>
                                </div>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Table End -->
