@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashLayout";
    var Enrollments = (List<Enrollment>)ViewBag.Enrollments;
    var ApplicationUsers = (List<ApplicationUser>)ViewBag.UsersNom;
    var Tracks = (List<Track>)ViewBag.TracksNom;
    var Courses = (List<Course>)ViewBag.CoursesNom;

    var EntollmentsNom = Enrollments.Count;
    var ApplicationUsersNom = ApplicationUsers.Count;
    var TracksNom = Tracks.Count;
    var CoursesNom = Courses.Count;

}



<!-- Cards Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Users Card -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 mb-4">
                <i class="fa fa-users fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Users</p>
                    <h6 class="mb-0">@ApplicationUsersNom</h6>
                </div>
            </div>
        </div>

        <!-- Tracks Card -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 mb-4">
                <i class="fa fa-layer-group fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Tracks</p>
                    <h6 class="mb-0">@TracksNom</h6>
                </div>
            </div>
        </div>

        <!-- Courses Card -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 mb-4">
                <i class="fa fa-book fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Courses</p>
                    <h6 class="mb-0">@CoursesNom</h6>
                </div>
            </div>
        </div>

        <!-- Enrollments Card -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 mb-4">
                <i class="fa fa-clipboard-list fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Enrollments</p>
                    <h6 class="mb-0">@EntollmentsNom</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cards End -->
<!-- Table Start -->
<div class="container-fluid px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Enrollments</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Track Name</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int count = 1;
                        for (int i = Enrollments.Count - 1; i >= 0; i--)
                    {
                        <tr>
                            <td>@count</td>
                                <td>@Enrollments[i].ApplicationUser.UserName</td>
                                <td>@Enrollments[i].Course.Title</td>
                                <td>@Enrollments[i].Course.Track.Name</td>
                                <td>@Enrollments[i].EnrollmentDate</td>
                            </tr>

                            count++;
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Table End -->
