@model IEnumerable<ApplicationUserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "_DashLayout";
}

<!-- Table Start -->
<div class="container-fluid px-4">
    <a asp-action="CreateUser" class="btn btn-primary mb-3">Add New User</a>

    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Users</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Registration Date</th>
                        <th scope="col">BirthDate</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var User in Model)
                        {

                        <tr>
                                <td>@User.Id</td>
                                <td>@User.Name</td>
                                <td>@User.Email</td>
                                <td>@User.RegistrationDate</td>
                                <td>@User.BirthDate</td>
                                <td>
                                @if (User.Roles.Any())
                                {
                                    @string.Join(", ", User.Roles)
                                }
                                else
                                {
                                    <span>No Role</span>
                                }
                                </td>
                            <td>
                                <a asp-controller="Dashboard" asp-action="EditUser" asp-route-id="@User.Id" class="btn btn-sm btn-success">Edit</a>
                                <a asp-controller="Dashboard" asp-action="DeleteUser" asp-route-id="@User.Id" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                        </tr>
                        }
                    

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Table End -->

