@model OnlineLearningPlatform.UI.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirhtDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirhtDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.courses)
        </dt>
        <dd class="col-sm-10">
         @Model.courses.Count
        </dd>
    </dl>

    <div>
        <table class="table table-hover table-bordered">
    <tr>
        <th>Coudse Title</th>
                <th>Progress</th>
                <th>Delete</th>
    </tr>
            @foreach(var i in Model.courses)
            {
                <tr>
                    <td>@i.Title</td>
                    <td>....</td>
                    <td>
                        <a asp-action="DeleteCourse" asp-route-userid="@Model.Id" asp-route-courseId="@i.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
<div>
    <a asp-action="Edite" asp-route-id="@Model.Id">Edite</a>
</div>
